---
layout: base.njk
---
<div class="postwrap">
  <a class="backlink" href="/devblog.html">&larr; All posts</a>
  <div class="posthead">
    <div class="postdate">{{ date | readable }}{% for t in topics %} &middot; {{ t }}{% endfor %}</div>
    <h1 class="posttitle">{{ title }}</h1>
  </div>
  <article class="post-body">{{ content | safe }}</article>
</div>
